body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.title {
    font-size: 46pt;
}
a {
    font-size: 22pt;
}