body {
    color: #837d7d;
    background-color: #000000;
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align-last: center;
}

.title {
color: #837d7d;
  font-size: 46pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
a:hover {
  color:#cccccc;
}
a {
    color: #837d7d;
}